<div class="jumbotron jumbo-img">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>DataMiners Patient Database</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Details</h2>
      <h4>You can query patients and check some stats about the system.</h4>
      <a href="/patients" class="btn btn-success">Query Patients</a>
      <a href="/stats" class="btn btn-primary">View Stats</a>
    </div>
  </div>
</div>